extends base.pug

block style
    style
        include ../static/changepasswordstyle.css

block content
    nav#navbar
        ul
            img(src="../static/parkinglogo.jpg", alt="loading LOGO")
            li #[a(href = '/Home') Home]
            li #[a(href = '/Services') Services] 
            li #[a(href = '/AboutUs') About us] 
            li #[a(href = '/ContactUs') Contact us]
            li #[a(href = '/',class = 'logout') log out]
    div.container
        h1 Forgot password page
        form(action="/changepassword",method = "post",class = "myform")
            
            //- input(type="text",placeholder="Enter your address",name = "address",class = "myinput")
            button.btn
                |submit