*{
    margin: 0px;
    padding : 0px;
}

h2,h4{
    text-align: center;
    padding: 20px 3px;
}

.container{
    background-color: azure;
}

.register{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputreg{
    width: 50%;
    padding: 2px;
    margin: 10px;
}

form .radio input{
    margin-left: 10px;
    margin-right: 5px;
}

.btn{
    border: 2px solid black;
    border-radius: 8px;
    padding: 9px 18px;
    margin: 35px 9px;
}
