*{
    margin: 0px;
    padding: 0px;
}

#navbar{
    background-color:#e8afaf;
    padding: 10px 10px;
}

#navbar ul{
    display : flex;
    flex-direction: row;
    /* justify-content: center; */
}

#navbar ul img{
    height: 60px;
    width: 70px;
    margin: 0px 40px;
}

#navbar ul li{
    padding: 20px 70px;
    list-style: none;
}

#navbar ul li a {
    text-decoration: none;
}

#navbar ul li .logout{
    margin-left: 630px;
}

.container{
    border: 2px solid firebrick;
}

.container h3 {
    text-align: center;
    padding: 30px 2px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input,textarea{
    width: 40%;
    padding: 15px;
    font-size: 22px;
    margin: 20px;
    border-radius: 20px;
}

form .btn{
    padding: 10px 25px;
    margin: 50px 2px;
    font-size: 25px;
    border-radius: 20px;
}